<h1>Upload a Contract</h1>

<%= form_with model: @contract, local: true do |form| %>
  <% if @contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being saved:</h2>
      <ul>
        <% @contract.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :document %>
    <%= form.file_field :document %>
  </div>

  <div class="actions">
    <%= form.submit 'Upload Contract' %>
  </div>
<% end %>
